MONGO_URI=mongodb://localhost:27017
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/trie_indexer_db?retryWrites=true&w=majority

# Generate with: python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRY_DAYS=1
